
<div class="popup-overlay">
  <%# ポップアップ記述 open %>
  <div class="popup-content">
  <button class= "close" > close </button>
    <div class="form">
      <%= form_for @content do |f| %>
        <div class="content">
          <%= f.text_field :title, class: 'content-title', placeholder: 'タイトル' %>
          <div class="form-box">
            <%= f.select :prefectues,  
              [["北海道"],["青森"],["岩手"],["宮城"],["秋田"],
              ["山形"],["福島"],["茨城"],["栃木"],["群馬"],
              ["埼玉"],["千葉"],["東京"],["神奈川"],["新潟"],
              ["富山"],["石川"],["福井"],["山梨"],["長野"],
              ["岐阜"],["静岡"],["愛知"],["三重"],["滋賀"],
              ["京都"],["大阪"],["兵庫"],["奈良"],["和歌山"],
              ["鳥取"],["島根"],["岡山"],["広島"],["山口"],
              ["徳島"],["香川"],["愛媛"],["高知"],["福岡"],
              ["佐賀"],["長崎"],["熊本"],["大分"],["宮崎"],
              ["鹿児島"],["沖縄"]], class: 'content-prefectues', include_blank: "都道府県 選択" %>
            <%= f.label :image, class: 'content-image' do %>
              <i class="fas fa-image icon"></i>
              <%= f.file_field :image, class: 'file' %>
            <% end %>
          </div>
          <%= f.text_area :text, class: 'content-text', placeholder: '思い出を書き残そう！！' %>
          <%= f.submit '投稿する', class: 'content-submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>