<body>
  <div class="wrapper">
    <%= render  partial: "sidebar" %> 
    <div class="main">
      <div class="upper-content">
        <div class="slider">
          <div class="slider__item">
            <%= image_tag "umi1.jpg", class:"slider__item__image", size:"1240x450" %>
          </div>
          <div class="slider__item">
            <%= image_tag "umi2.jpg", class:"slider__item__image", size:"1240x450" %>
          </div>
          

        </div>
      </div>



      <div class="under-content">
        <div class="contents">
          <% @contents.each do |content| %>
            <%=link_to content_path(content.id),class:"show-content" do%>
              <div class="show-content">
                <div class="content__title" >
                  <%= content.title %>
                </div>
                <div class="content__image">
                  <%= image_tag content.image.url, size:"290x190"%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>

