 <body>
  <div class="wrapper">
    <div class="user-info">
      <div class="user-info_form">
        <div class="user-info_form-box">         
          <h2>パスワードをお忘れの方へ</h2><br>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label "メールにてパスワードの再設定について　　　ご連絡致します" %>
              
              <%= f.label "登録したeメールを入力して下さい" %>
              
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"user-info-text" %>
            </div>

            <div class="actions">
              <%= f.submit "送信" %>
            </div>
            
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</body>
